.container {
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}
