<mat-card class="comment">
  <mat-card-header class="comment_header">
    <mat-card-subtitle>{{ comment.commenter }}</mat-card-subtitle>
    <mat-card-subtitle>{{ comment.timestamp | date: 'short'}}</mat-card-subtitle>
    <button
      mat-icon-button
      color="warn"
      *ngIf="comment.commenter === currentUser"
      (click)="onDeleteComment.emit(comment)"
    >
    <mat-icon>clear</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <p>{{ comment.content }}</p>
  </mat-card-content>
</mat-card>
